.row.d-flex.justify-content-md-around.my-1
  .col-1.text-center
    label
  .col-1.text-center
    label 1
  .col-1.text-center
    label 2
  .col-1.text-center
    label 3
  .col-1.text-center
    label 4
  .col-1.text-center
    label 5
  .col-1.text-center
    label 6
  .col-1.text-center
    label 7
  .col-1.text-center
    label 8
  .col-1.text-center
    label 9
  .col-1.text-center
    label 0
.row.d-flex.justify-content-md-around.my-1
  .col-1.text-center
    label 0
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label 10
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label 20
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 30
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 40
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 50
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 60
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 70
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 80
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 90
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 100
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 110
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 120
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 130
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1.text-center
    label(for="1") 140
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="number", min="0" id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
