.row.d-flex.justify-content-around
  .col-12
    .row.form-group.mb-2
      .col-sm-1.text-right
        label(for="D3S1358") D3S1358
        input(type="hidden" id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1 mr-1" value="D3S1358")
      .col-sm-1
        input(type="number" min="0" required=true id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D3S1358" name="marcador[1][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="THO1") THO1
        input(type="hidden" id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1 mr-1" value="THO1")
      .col-sm-1
        input(type="number" min="0" required=true id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="THO1" name="marcador[2][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D21S11") D21S11
        input(type="hidden" id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1 mr-1" value="D21S11")
      .col-sm-1
        input(type="number" min="0" required=true id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D21S11" name="marcador[3][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D18S51") D18S51
        input(type="hidden" id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1 mr-1" value="D18S51")
      .col-sm-1
        input(type="number" min="0" required=true id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D18S51" name="marcador[4][]" class="form-control form-control-sm ml-1")
    .row.form-group.mb-2
      .col-sm-1.text-right
        label(for="PENTAE") PENTAE
        input(type="hidden" id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1 mr-1" value="PENTAE")
      .col-sm-1
        input(type="number" min="0" required=true id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="PENTAE" name="marcador[5][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D5S818") D5S818
        input(type="hidden" id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1 mr-1" value="D5S818")
      .col-sm-1
        input(type="number" min="0" required=true id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D5S818" name="marcador[6][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D13S317") D13S317
        input(type="hidden" id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1 mr-1" value="D13S317")
      .col-sm-1
        input(type="number" min="0" required=true id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D13S317" name="marcador[7][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D7S820") D7S820
        input(type="hidden" id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1 mr-1" value="D7S820")
      .col-sm-1
        input(type="number" min="0" required=true id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D7S820" name="marcador[8][]" class="form-control form-control-sm ml-1")
    .row.form-group.mb-2
      .col-sm-1.text-right
        label(for="D16S539") D16S539
        input(type="hidden" id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1 mr-1" value="D16S539")
      .col-sm-1
        input(type="number" min="0" required=true id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D16S539" name="marcador[9][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="CSF1PO") CSF1PO
        input(type="hidden" id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1 mr-1" value="CSF1PO")
      .col-sm-1
        input(type="number" min="0" required=true id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="CSF1PO" name="marcador[10][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="PENTAD") PENTAD
        input(type="hidden" id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1 mr-1" value="PENTAD")
      .col-sm-1  
        input(type="number" min="0" required=true id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="PENTAD" name="marcador[11][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="vWA") vWA
        input(type="hidden" id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1 mr-1" value="vWA")
      .col-sm-1  
        input(type="number" min="0" required=true id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="vWA" name="marcador[12][]" class="form-control form-control-sm ml-1")
    .row.form-group.mb-2
      .col-sm-1.text-right
        label(for="D8S1179") D8S1179
        input(type="hidden" id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1 mr-1" value="D8S1179")
      .col-sm-1
        input(type="number" min="0" required=true id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D8S1179" name="marcador[13][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="TPOX") TPOX
        input(type="hidden" id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1 mr-1" value="TPOX")
      .col-sm-1  
        input(type="number" min="0" required=true id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="TPOX" name="marcador[14][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="FGA") FGA
        input(type="hidden" id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1 mr-1" value="FGA")
      .col-sm-1
        input(type="number" min="0" required=true id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="FGA" name="marcador[15][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D19S433") D19S433
        input(type="hidden" id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1 mr-1" value="D19S433")
      .col-sm-1
        input(type="number" min="0" required=true id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D19S433" name="marcador[16][]" class="form-control form-control-sm ml-1")
    .row.form-group.mb-2
      .col-sm-1.text-right
        label(for="D1S1656") D1S1656
        input(type="hidden" id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1 mr-1" value="D1S1656")
      .col-sm-1
        input(type="number" min="0" required=true id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D1S1656" name="marcador[17][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D12S391") D12S391
        input(type="hidden" id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1 mr-1" value="D12S391")
      .col-sm-1  
        input(type="number" min="0" required=true id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D12S391" name="marcador[18][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="D2S1338") D2S1338
        input(type="hidden" id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1 mr-1" value="D2S1338")
      .col-sm-1  
        input(type="number" min="0" required=true id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="D2S1338" name="marcador[19][]" class="form-control form-control-sm ml-1")
      .col-sm-1.text-right
        label(for="AMEL") AMEL (1 si X, 0 si Y)
        input(type="hidden" id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1 mr-1" value="AMEL")
      .col-sm-1  
        input(type="number" min="0" required=true id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1 mr-1")
      .col-sm-1
        input(type="number" min="0" required=true id="AMEL" name="marcador[20][]" class="form-control form-control-sm ml-1")