extends ../layout

block content
  div.content-header
    div.container
      div.row.mb-2
        div.col-sm-12
          h1= title
      if locals.message
        if message.error
          div(class="alert alert-danger" role="alert")
            strong Ha ocurrido un error al procesar la transacción:
            p Mensaje de error: #{message.error}
        if message.success
          div(class="alert alert-success" role="alert")
            strong Transacción realizada con éxito
            p= message.success
        
      .content
        .row
          .col-lg-12
            form(action="/muestras/create", method="post", class="" id="crear-muestra-form")
              .card
                .card-body
                  .row
                    .col-lg-6
                  
                      h5 Número de actuación
                      input(type="text" name='name' class="form-control mb-4" placeholder="Nombre" value=number disabled)
                      input(type="hidden", name='caseNumber' class="form-control" placeholder="Nombre" value=number)
                    
                    .col-lg-6
                      h5 Datos personales
                      .row
                        .form-group.col-6
                          input(type="text" name='name' class="form-control" placeholder="Nombre")
                        .form-group.col-6
                          input(type="text" name='lastName' class="form-control" placeholder="Apellido")
                      .row
                        .form-group.col-12
                          input(type="text" name='documentID' class="form-control" placeholder="Documento de identificación")
                      .row
                        .form-group.col-12
                          input(type="text" name='identityCountry' class="form-control" placeholder="País de nacimiento")
                      .row
                        .form-group.col-12
                          input(type="text" name='registryCountry' class="form-control" placeholder="Ciudad y país de registro")
                      .row
                        .form-group.col-12
                          input(type="text" name='laboratoryOfOrigin' class="form-control" placeholder="País de procedencia")
                .card-footer
                  button(id="crear-muestra-submit" type="submit" class="btn btn-primary float-right ld-ext-right") Enviar
                    .ld.ld-ring.ld-spin
                  a(href="/" class="btn btn-default") Cancelar