extends ../layout

block content
  div.content-header
    div.container
      div.row.mb-2
        div.col-sm-12
          h1= title
      if locals.message
        if message.error
          div(class="alert alert-danger" role="alert")
            strong Ha ocurrido un error al procesar la transacción:
            p Mensaje de error: #{message.error}
        if message.success
          div(class="alert alert-success" role="alert")
            strong Transacción realizada con éxito
            p= message.success
        
      .content
        .row
          .col-lg-12
            form(action="/muestras/create", method="post", class="col-12")
              .card
                .card-body
                  .row.no-gutters
                    .col-md-4.pt-2.text-center.align-items-center
                      h4 Número de actuación
                      h3= number
                      input(type="hidden", name='caseNumber' class="form-control" placeholder="Nombre" value=number)
                    .col-md-8
                      h4 Datos personales
                      .row
                        .form-group.col-6
                          input(type="text" name='name' class="form-control" placeholder="Nombre")
                        .form-group.col-6
                          input(type="text" name='lastName' class="form-control" placeholder="Apellido")
                      .row
                        .form-group.col-12
                          input(type="text" name='documentID' class="form-control" placeholder="Documento de identificación")
                      .row
                        .form-group.col-12
                          input(type="text" name='identityCountry' class="form-control" placeholder="País de Nacimiento")
                      .row
                        .form-group.col-12
                          input(type="text" name='registryCountry' class="form-control" placeholder="País de recolección de la muestra")
                      .row
                        .form-group.col-12
                          input(type="text" name='laboratoryOfOrigin' class="form-control" placeholder="Laboratorio de procedencia")
                .card-footer
                  button(type="submit" class="btn btn-primary float-right") Enviar
                  button(type="submit" class="btn btn-default") Cancelar