.row
  .col-12
    input(required=true, type="text" id="1" name="caseNumber" class="form-control form-control-sm" placeholder="Ingrese el número de caso")
.row.d-flex.justify-content-md-around.my-1
  .col-1
    label 01
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1
    label 10
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1
    label 20
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 30
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 40
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 50
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 60
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 70
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 80
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 90
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 100
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 110
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 120
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 130
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
.row.justify-content-md-around.my-1
  .col-1  
    label(for="1") 140
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
  .col-1  
    input(required=true, type="text", id="1", name="marcadores[]", style="width: 70px;", class="form-control form-control-sm")
